:root {
    --primary-color: #DA7070;
    --primary-hover: #ad4b4b;
    --meta-color: #b9b9b9;
    --nav-color: #707070;
    --nav-hover: #4b4b4b;
    --error-red: #ff5151;
    --background-color: #F5F5F5;
    --primary-text-color: #707070;
}

body {
    position: absolute;
    font-family: 'Poppins' !important;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

button {
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    padding: 15px 25px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
    align-self: center;
    border: 1px solid transparent;
}

button:hover {
    background-color: var(--primary-hover);
}

.secondary-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-color: var(--primary-color);
    background-color: white;
}

.secondary-button:hover {
    background-color: white;
    border-color: var(--primary-hover);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    margin: 0;
    background-color: var(--background-color);
    padding: 0px 20px;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 50px;
    transition: .2s;
    margin-right: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    box-shadow: none;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo {
    margin-left: 3%;
}

.nav {
    margin-right: 3%;
}

.logo>a {
    font-size: 2.6em;
    color: var(--primary-color);
    text-decoration: none;
    transition: .2s;
}

.logo>a:hover {
    color: var(--primary-hover);
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-button {
    display: flex;
}

.icon-button>svg {
    height: 35px;
    width: 35px;
    color: var(--nav-color);
    align-self: center;
}

.nav>a {
    font-size: 1.1em;
    margin: 0 30px;
}

.nav>a {
    border-bottom: 2px solid transparent;
    color: var(--nav-color);
}

.nav>a:hover {
    color: var(--nav-hover);
}

.selected-header-item {
    border-bottom: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    pointer-events: none;
}

.search-box>input {
    width: 35vw;
}


/* Main */

.primary-input {
    font-size: 1.1em;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.primary-button {
    margin-top: 40px;
    font-size: 1.2em;
    color: white;
    background-color: var(--primary-color);
    padding: 15px 30px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.overall-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    width: 100%;
    min-height: calc(100% - 100px);
}

.content-container {
    width: 100%;
}

.error-message-box {
    display: flex;
    align-self: center;
    align-content: center;
    width: 100%;
    color: #494949 !important;
    background-color: #f0f0f0;
    font-size: 14px;
    margin: 10px 0;
    padding: 12px 20px;
    text-align: left;
    border-radius: 10px;
}

.error-message-box>svg {
    height: 22px;
    width: 22px;
    color: var(--error-red);
    margin-right: 10px;
}


/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 0;
}

.sidebar>a {
    display: flex;
    align-self: center;
    font-size: 17px;
    margin: 25px 0;
    color: var(--nav-color);
}

.sidebar>a:hover {
    color: var(--nav-hover);
}

.sidebar>a>svg {
    color: var(--nav-color);
    align-self: center;
    height: 25px;
    width: 25px;
}

.selected-sidebar-item {
    color: var(--primary-color) !important;
    pointer-events: none;
}


/* Post & Products */

.item-container {
    display: flex;
    flex-direction: column;
}

.item-container>.item-image {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.item-container>.item-title {
    color: var(--primary-text-color);
}

.item-container>.item-description {
    color: var(--primary-text-color);
}