.page-backdrop {
    justify-content: center;
    align-items: center;
    height: calc(100% - 200px);
    padding: 0 5%;
    background-color: var(--primary-color);
}

.page-backdrop>div {
    margin: auto;
}

.login-container,
.register-member-container,
.register-vendor-container {
    display: flex;
    max-width: 500px;
    min-height: 550px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
}

.login-container>form,
.register-member-container>form,
.register-vendor-container>form {
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login-container>form>div:nth-child(1),
.register-member-container>form>div:nth-child(1),
.register-vendor-container>form>div:nth-child(1) {
    font-size: 1.6em;
    color: #707070;
}

.login-container>form>a,
.register-member-container>form>a,
.register-vendor-container>form>a {
    align-self: flex-start;
    font-size: 0.8em;
    color: var(--primary-color);
    transition: .2s;
}

.login-container>form>a:hover {
    color: var(--primary-hover);
}

.login-container>form>input:nth-child(2),
.login-container>form>input:nth-child(3) {
    margin-top: 20px;
}

.login-container>form>input:nth-child(3) {
    margin-bottom: 10px;
}

.login-container>form>button,
.register-member-container>form>button,
.register-vendor-container>form>button {
    margin: 20px 0;
    width: 180px;
    align-self: center;
}

.login-container>form>a:nth-child(6),
.register-member-container>form>a:nth-child(9),
.register-vendor-container>form>a:nth-child(10) {
    margin-top: -15px;
    align-self: center;
}

.login-container>form>div:nth-child(7) {
    margin-top: 20px;
    align-self: center;
    color: var(--meta-color);
}

.login-banner {
    text-align: center;
    color: white;
}

.login-banner>div:nth-child(1) {
    font-size: 8.5em;
}

.login-banner>div:nth-child(2) {
    font-size: 2.5em;
}


/* Register */

.register-member-container,
.register-vendor-container {
    min-height: 600px;
}

.register-member-container>form>div:nth-child(1)>span,
.register-vendor-container>form>div:nth-child(1)>span {
    font-size: 0.6em;
    color: var(--meta-color);
}

.register-member-container>form>input:nth-child(2),
.register-member-container>form>input:nth-child(3),
.register-member-container>form>input:nth-child(4),
.register-member-container>form>input:nth-child(5),
.register-member-container>form>input:nth-child(6),
.register-vendor-container>form>input:nth-child(2),
.register-vendor-container>form>input:nth-child(3),
.register-vendor-container>form>input:nth-child(4),
.register-vendor-container>form>input:nth-child(5),
.register-vendor-container>form>input:nth-child(6),
.register-vendor-container>form>input:nth-child(7) {
    margin-top: 20px;
}

.register-member-container>form>input:nth-child(6),
.register-vendor-container>form>input:nth-child(7) {
    margin-bottom: 10px;
}

.register-member-container>form>a:nth-child(7),
.register-vendor-container>form>input:nth-child(8) {
    align-self: left;
}